@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.App-home {
  

  text-align: right;
  width: 100vw;
  height: 100vh;
 
}

.App-header {
  position: absolute;
  top: 400px;
  right: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  padding: 10px;
   color: rgb(228, 151, 127);
}


.App-title {
  text-align: center;
  font-size: 9em;
  font-weight: 50;
  font-family: 'Sacramento';
  text-shadow: 2px 2px rgb(96, 214, 204);
  cursor: default;
  margin: 10px;
}


.nav{
  background-color: rgb(187, 139, 121);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  
  
}

.nav h2{
  padding: 20px;
  margin:10px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 15px;
  color:white;
  font-family: 'Playfair Display';
}

.nav p{

  text-align: center;
  font-family: 'Playfair Display';
  font-weight: lighter;
  font-size:35px;
  color: white;
 
  letter-spacing: 3px;
}

.main{
  padding: 35vh;
  width: 100vw;
  font-size: 35px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: left;
  font-family: 'Playfair Display';
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1533122171528-573eb0aa80e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80");
}

.maincontent{
  font-family: 'Playfair Display';
  text-align: left;
  font-size: 35px;
  font-weight: lighter;
  letter-spacing: 1px;
}



.footer{
  background-color:rgb(187, 139, 121);
  padding: 20px;
  color: white;
  

}

.footer h4{
  display: flex;
  font-family:'Poppins';
  font-weight:lighter;
}

.sectiontwo{
  padding: 5vh;
  background-color: rgb(248, 245, 240);
  
}

.brownheart{
  display: flex;
  position: relative; top: 50px; 
  margin-left: 250px;
 
  
}

.peachheart{
  display: flex;
  position: relative; top: -90px; 
  margin-left: 700px;
}

.tanheart{
  display: flex;
  margin-left: 1200px;
  position: relative; top: -207px; 
}

.readbutton{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 cursor: pointer;
 margin: 20px;
 background: rgb(63, 44, 33);
 font-family:'Poppins';
 color: #ffffff;
 font-size: 21px;
 border-radius: 6px;
 padding: 15px;
 text-decoration: none;
}

.readbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.readbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.readbutton:hover span {
  padding-right: 25px;
}

.readbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.contactbutton{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 cursor: pointer;
 margin: 20px;
 background: rgb(63, 44, 33);
 font-family:'Poppins';
 color: #ffffff;
 font-size: 21px;
 padding: 15px;
 border-radius: 6px;
 text-decoration: none;
}

.contactbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contactbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.contactbutton:hover span {
  padding-right: 25px;
}

.contactbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.sectiontitle{
  font-family: 'Playfair Display';
  font-size: 35px;
  letter-spacing: 2px;
  text-align: center;
  position: relative; top: 50px; 
}

.about{
 
}

.abouttitle{
  font-family: 'Playfair Display';
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 45px;
}

.about img{
  display: flex;
  margin:38px;
  position: relative; top: 60px; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.abouttitle{
  text-align: center;
  padding: 5px;
  
}

.aboutcontent p {
  font-family:'Poppins';
  font-size: 23px;
  font-weight: lighter;
  position: relative; top: -560px; 
  position: relative; right: -600px; 
  width:800px;
 
}

.aboutbutton{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  margin: 40px;
  background: rgb(63, 44, 33);
  font-family:'Poppins';
  color: #ffffff;
  font-size: 21px;
  padding: 15px;
  border-radius: 6px;
  text-decoration: none;
  position: relative; right: 500px; 
}

.aboutbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.aboutbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.aboutbutton:hover span {
  padding-right: 25px;
}

.aboutbutton:hover span:after {
  opacity: 1;
  right: 0;
}





