@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed');
.App-home {
  
  background-image: url("https://images.unsplash.com/photo-1501534664411-d04203736d05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  width: 100vw;
  height: 100vh;
 
}

.App-header {
  position: absolute;
  top: 400px;
  right: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  padding: 10px;
   color: rgb(228, 151, 127);
}


.App-title {
  text-align: center;
  font-size: 9em;
  font-weight: 50;
  font-family: 'Sacramento';
  text-shadow: 2px 2px rgb(96, 214, 204);
  cursor: default;
  margin: 10px;
}

.home-footer {
  display: flex;
  font-family: 'Marvel';
  font-size: 10px;
  color: grey;
  text-align: left;
  padding: 10px;
  cursor: default;
}

.nav{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin:10px;
}

.nav h1{
  font-size: 15px;
}


