@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.App-home {
  

  text-align: right;
  width: 100vw;
  height: 100vh;
 
}

.App-header {
  position: absolute;
  top: 400px;
  right: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  padding: 10px;
   color: rgb(228, 151, 127);
}


.App-title {
  text-align: center;
  font-size: 9em;
  font-weight: 50;
  font-family: 'Sacramento';
  text-shadow: 2px 2px rgb(96, 214, 204);
  cursor: default;
  margin: 10px;
}

.home-footer {
 
}

.nav{
  background-color: rgb(187, 139, 121);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  
}

.nav h1{
  padding: 20px;
  margin:10px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 15px;
  color:white;
  font-family: 'Playfair Display';
}

.nav h2{
  text-decoration: underline;
  
  font-family: 'Playfair Display';
  font-weight: lighter;
  font-size:35px;
  color: white;
  padding: 15px;
  letter-spacing: 3px;
}

.main{
  padding: 45vh;
}

.footer{
  background-color:rgb(187, 139, 121);
  padding: 20px;
  color: white;
  

}

.footer h4{
  display: flex;
  font-family:'Poppins';
  font-weight:lighter;
}


